# LITELLM PROXY DEPENDENCIES #
anyio # openai + http req.
openai>=1.0.0 # openai req. 
pydantic>=2.5 # openai req. 
backoff==2.2.1 # server dep
pyyaml>=6.0.1 # server dep
boto3==1.34.34 # aws bedrock/sagemaker calls
numpy==1.24.3 # semantic caching
pandas==2.1.1 # for viewing clickhouse spend analytics
mangum==0.17.0 # for aws lambda functions
google-cloud-aiplatform==1.43.0 # for vertex ai calls
google-generativeai==0.3.2 # for vertex ai calls
async_generator==1.10.0 # for async ollama calls
apscheduler==3.10.4 # for resetting budget in background 
### LITELLM PACKAGE DEPENDENCIES
python-dotenv>=0.2.0 # for env 
tiktoken>=0.4.0 # for calculating usage
importlib-metadata>=6.8.0 # for random utils
tokenizers==0.14.0 # for calculating usage
jinja2==3.1.3 # for prompt templates
certifi>=2023.7.22 # [TODO] clean up 
aiohttp==3.9.0 # for network calls
aioboto3==12.3.0 # for async sagemaker calls
tenacity==8.2.3  # for retrying requests, when litellm.num_retries set
####